data/raw/tri_2020_sig_di/n_inondable_*.shp filter=lfs diff=lfs merge=lfs -text
data/raw/tri_2020_sig_di/n_inondable_*.dbf filter=lfs diff=lfs merge=lfs -text
data/raw/tri_2020_sig_di/n_inondable_*.shx filter=lfs diff=lfs merge=lfs -text
